@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Line';
  src: url('font/Web/WOFF2/LINESeedSansTH_W_Th.woff2') format('woff2'),
       url('font/Web/WOFF/LINESeedSansTH_W_Th.woff') format('woff');
  /* Add other font formats if available */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mr.Eve';
  src: url('font/Fonts/ot-reg-mr-eaves-modern-opentype-389362/MrEavesModOT-Reg.otf') format('opentype');
  /* Add other font formats if available */
  font-weight: normal;
}

@font-face {
  font-family: 'Mr.Eve';
  src: url('font/Fonts/ot-bold-mr-eaves-modern-opentype-389421/MrEavesModOT-Bold.otf') format('opentype');
  /* Add other font formats if available */
  font-weight: bold;
}

.evefont{
  font-family: 'Mr.Eve';
  font-size: 20px;
 
}

.linefont{
  font-family: 'Line';
  font-weight: bold;

}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text {
  font-size: 14px;
  color: #f3f3f3;
  margin-top: 5px;
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #FBA834; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1 {
  text-align: center;
  color: #FBA834;
}

form {
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  padding-inline: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.row{
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
}

label.radio-label{
  font-weight: 400;
  margin-bottom: 0px;
}



input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #FBA834;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus{
  border: 2px solid #FBA834;
}

select{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #FBA834;
  border-radius: 4px;
  box-sizing: border-box;
}

option{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #FBA834;
  border-radius: 4px;
  box-sizing: border-box;

}

button[type="submit"] {
  background-color: #387ADF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2f6fce;
}

button.picker {
  background-color: #387ADF;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 12px;
}

button.picker:hover {
  background-color: #2f6fce;
}

button.delete {
  background-color: #387ADF;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.picbutton {
  background-color: #387ADF;
    color: #fff;
    border: none;
    display: inline;
    border-radius: 50%;
    padding: 6px 10px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    padding: 4px 8px; 
    transition: background-color 0.3s ease;
}

.error {
  color: #f00;
  margin-top: 5px;
}


.profile-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-details label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.profile-details p {
  margin: 0;
}




body {
  background-color: #333A73;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

body.no-height-limit{
  height: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80vw;
  max-width: 400px;
  text-align: center;
}

.card-menu {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card-menu .emoji {
  font-size: 25px;
}

.card-menu:hover {
  background-color: #ededed;;
}

.card-body {
  display: flex;
  justify-content: space-between;
}

.card-text {
  text-align: left;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  max-width: 20vw;
  max-height: 20vw;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card p {
  margin: 6px 0;
  color: #666;
  text-align: left;
  display: flex;
  align-items: center;
}

.card .emoji {
  font-size: 20px;
  margin-right: 5px;
}

.card button {
  background-color: #387ADF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #2f6fce;
}

.card-menu button {
  background-color: #387ADF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
}

.card-menu button:hover {
  background-color: #2f6fce;
}

.card-menu a{
  text-decoration: none;
  color: #333;
}

.card-footer{
  display: flex;
}

.card-footer button{
  
  margin-top: 18px;
}

.wrapper{
  max-width: 360px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 10px 30px 0px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .calendar{
    padding: 0px;
  }
  .button-time{
    width: calc(80%)!important;
  }
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #2f6fce;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.time{
  
  max-width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-time{
  text-align: center;
  color: #333;
  width: calc(100% /2);
  font-size: 1.07rem;
  z-index: 1;
  cursor: pointer;
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  margin: 10px 5px !important;
  padding: 10px 5px !important;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.button-time.active{
  background: #2f6fce;
  color: #fff;
}

.button-time.inactive{
  color: #aaa;
}

button.submit {
  background-color: #387ADF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none;
  margin: 10px;
  margin-left: auto;
 
}

button.submit:hover {
  background-color: #2f6fce;
}

button[type="edit"] {
  background-color: #FBA834;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
 
}

button[type="edit"]:hover{
  
  background-color: #eb941bfa;
}

.footer-button{
  display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.booking-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  background-color: #f8f8f8;
}

.booking-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.booking-details p {
  margin: 5px 0;
}



.booking .card-body {
  width: 100%;
}
.center {
  text-align: center;
}

h2.center{
  margin-bottom: 24px;
}

.booking p {
  padding-bottom: 12px;
}

.booking-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

/* Styles for the modal */
.modal {
  
  display: none;
    position: absolute;
    width: 80%;
    max-width: 400px;
    height: 80%;
    
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Button style */
#openModalBtn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#openModalBtn:hover {
  background-color: #45a049;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

.slide-from-top {
  display: none; /* Initially hide the element */
}


.slide-from-top.active {
  display: block; 
  opacity: 0; /* Initially invisible */
  animation: fadeInDown 0.7s ease-in-out; /* Animation name, duration, and timing function */
  animation-fill-mode: forwards; /* Ensures the element stays visible after animation */
}

@keyframes fadeInDown {
  from {
    opacity: 0.2;
    transform: translateY(-30%); /* Start off-screen from the top */
  }
  to {
    opacity: 0.9;
    transform: translateY(0); /* Fade in and move to original position */
  }
}


.slide-from-top.active.fadeOutUp {
  animation: fadeOutUp 0.7s ease-in-out forwards; /* Fade-out animation on toggle */
}


@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%); /* Move up off-screen */
  }
}


